#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score-form{
    position: relative;
    right: 385px;
}
#places{
    display: flex;
    flex-direction: row;
    width: 1000px;
    padding: 10px;
    justify-content: space-between;
}
.place-box{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#activity-box{
    border: 2px solid black;
    width: 1000px;
    height: 200px;
    overflow-y: scroll;
}
.red{
    color: red;
}
.green{
    color: green;
}
.green, .red, .black{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}